body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Libre Baskerville", serif;
  font-family: "Poppins", sans-serif;
  background-color: aqua;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

.card {
  margin-top: 5rem;
}
